# Terraform directories
terraform/.terraform/
terraform/.terraform.lock.hcl

# Terraform state files
terraform/terraform.tfstate
terraform/terraform.tfstate.backup

# Crash logs
terraform/crash.log

# Override files
terraform/*.tfvars
terraform/*.tfvars.json

*.tfvars
*.tfvars.json

